<!DOCTYPE html>
<html lang="en">
<head>
  <title>NFTs Page type 2</title>
</head>
<body>
<div class="table-data">
<h2>All NFTs on Platforms type 2</h2>
    <!--====form section start====-->
    <div class="user-detail">
        <h2>Create User Data</h2>
        <form action="/tableOwnedForm" method="POST">
            <label>Full Name</label>
            <input type="text" placeholder="Enter Full Name" name="name" required>
            <button type="submit">Submit</button>
            <script>
                console.log("this is running")
            </script>
            </div>
    </div>
    <br>
    <table border="1" >     
        <tr>
            <th>Token ID</th>
            <th>Smart Contact Address</th>
            <th>Name</th>
            <th>Client ID</th>
            <th>Price</th>
        </tr>
        
        <%
        if(nfttable.length!=0){
    
            nfttable.forEach(function(data){        
        %>
        <tr>
            <td><%=data.tokenId %></td>
            <td><%=data.smartContactAddress %></td>
            <td><%=data.name %></td>
            <td><%=data.clientID %></td>
            <td><%=data.price %></td>
        </tr>
        <%   }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>